@charset "UTF-8";
/* imports */ /* colores */ /* letras */
/* m=0 p=0 */
/* centrado */
/* mobile */
/*  BODY */
#inicio {
  margin: 0px;
  padding: 0px;
}

/***** INDEX *****/
/* NAVBAR */
#menu {
  background-color: #FFDA1F;
  margin: 0px;
  padding: 0px;
  background: rgb(255, 218, 31);
  background: linear-gradient(180deg, rgb(255, 218, 31) 12%, rgb(255, 255, 255) 91%);
}
#menu .container-fluid {
  align-items: center;
  justify-content: center;
}
#menu .container-fluid .navbarMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
}
#menu .container-fluid .navbarMobile .navbar-toggler {
  margin: 0.5rem;
  color: #1100CC;
  border-color: #1100CC;
  border: 2px solid #1100CC;
  background-color: transparent;
  border-radius: 0.25rem;
}
#menu .container-fluid .navbarMobile .navbar-toggler .fa {
  font-size: 15px;
  padding: 0.3rem;
}
#menu .container-fluid .navbarMobile a {
  margin: 0.5rem;
}
#menu .container-fluid .navbarMobile a img {
  width: 210px;
  height: 70px;
}
#menu .container-fluid .navbar-collapse {
  padding: 0 1.5rem 0.5rem 1rem;
  /* BUSCADOR */
}
#menu .container-fluid .navbar-collapse .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1100CC;
}
#menu .container-fluid .navbar-collapse .nav-item .nav-link:hover {
  font-weight: 800;
  color: #0E00A3;
}
#menu .container-fluid .navbar-collapse .nav-item .dropdown-menu {
  background: rgb(255, 218, 31);
  background: linear-gradient(180deg, rgb(255, 218, 31) 8%, rgb(255, 255, 255) 97%);
  border: none;
}
#menu .container-fluid .navbar-collapse .nav-item .dropdown-menu a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1100CC;
}
#menu .container-fluid .navbar-collapse .nav-item .dropdown-menu a:hover {
  font-weight: 800;
  color: #0E00A3;
  background-color: #FFFFFF;
}
#menu .container-fluid .navbar-collapse .sectionBuscadorMobile form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#menu .container-fluid .navbar-collapse .sectionBuscadorMobile form input {
  text-align: center;
  font-size: 0.8rem;
}
#menu .container-fluid .navbar-collapse .sectionBuscadorMobile form button {
  font-size: 0.9rem;
  font-size: 0.8rem;
}

/* MAIN */
.mainMobile .mainSubtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainMobile .mainSubtitulo h3 {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  color: #1100CC;
  margin: 0;
}
.mainMobile .mainProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.mainMobile .mainProductos a {
  text-decoration: none;
  margin: 0;
  width: 100%;
}
.mainMobile .mainProductos a:hover h2 {
  color: #0E00A3;
}
.mainMobile .mainProductos a h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  font-size: 1.3rem;
  color: #080066;
  font-weight: 800;
  background-color: #FFDA1F;
  padding: 1rem;
  text-align: center;
  margin: 0;
}
.mainMobile .mainProductos a div {
  overflow: hidden;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.mainMobile .mainProductos a div img {
  width: 60%;
  height: auto;
  transition: all 0.3s;
}
.mainMobile .mainProductos a div img:hover {
  /* filter: saturate(1) ; */
  filter: blur(1.1) opacity(80%) brightness(90%);
  transform: scale(1.05);
  transition: all 0.3s;
}
.mainMobile .mainProductos a div .imgM {
  width: 65%;
  height: auto;
}
.mainMobile .mainProductos a div .imgD {
  width: 55%;
  height: auto;
}

/* SERENA */
.sectionSerena {
  margin: 0px;
  padding: 0px;
}
.sectionSerena h5 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-family: "Courgette", cursive;
  font-weight: 400;
  color: #1100CC;
  border-top: 0.5px solid #1100CC;
  padding: 0.5rem 0;
  margin: 0;
}
.sectionSerena div {
  position: relative;
  width: 100%;
}
.sectionSerena div img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.sectionSerena div h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #EBEBEB;
  background-color: #1100CC;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
  padding: 0 1rem;
}
.sectionSerena div .efectoCard {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 70%;
  top: 34.5%;
  left: 59%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.sectionSerena div .efectoCard a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border: 1px solid #080066;
  border-radius: 10px;
  background-color: #080066;
  font-size: 1rem;
  color: #EBEBEB;
  text-decoration: none;
  width: 75%;
}
.sectionSerena div .efectoCard a:hover {
  background-color: #EBEBEB;
  color: #080066;
  border: 1px solid #080066;
}
.sectionSerena div:hover img {
  opacity: 0.7;
}
.sectionSerena div:hover .efectoCard {
  opacity: 1;
}

.sectionSerenaDesktop {
  display: none;
}

/* SOLUCIONES */
.sectionSoluciones div {
  background-color: #FFDA1F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.sectionSoluciones div p {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #080066;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.sectionSoluciones div a {
  border: 1px solid #05003D;
  border-radius: 10rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #EBEBEB;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  background-color: #05003D;
}
.sectionSoluciones div a:hover {
  color: #05003D;
  background-color: #EBEBEB;
}

.sectionSoluciones2 div {
  background-color: #FFDA1F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.sectionSoluciones2 div a {
  border: 1px solid #05003D;
  border-radius: 10rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #EBEBEB;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  background-color: #05003D;
}
.sectionSoluciones2 div a:hover {
  color: #05003D;
  background-color: #EBEBEB;
}

/* SERVICIOS TERMINADOS */
.sectionServiciosTerminados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFDA1F;
  width: 100%;
}
.sectionServiciosTerminados .carousel {
  width: 100%;
}
.sectionServiciosTerminados .carousel .carousel-inner {
  width: 100%;
}
.sectionServiciosTerminados .carousel .carousel-inner .carousel-item {
  width: 100%;
}
.sectionServiciosTerminados .carousel .carousel-inner .carousel-item div {
  width: 100%;
}
.sectionServiciosTerminados .carousel .carousel-inner .carousel-item div img {
  width: 100%;
  height: auto;
}
.sectionServiciosTerminados .verMas {
  background-color: #FFDA1F;
  padding: 1.5rem;
}
.sectionServiciosTerminados .verMas a {
  text-decoration: none;
  text-align: center;
  color: #1100CC;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.sectionServiciosTerminados .verMas a:hover {
  color: #080066;
}

/* SERVICIOS TERMINADOS 2 */
.sectionServiciosTerminados2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0 0 0;
  background-color: #FFDA1F;
  width: 100%;
}
.sectionServiciosTerminados2 .carousel {
  width: 100%;
}
.sectionServiciosTerminados2 .carousel .carousel-inner {
  width: 100%;
}
.sectionServiciosTerminados2 .carousel .carousel-inner .carousel-item {
  width: 100%;
}
.sectionServiciosTerminados2 .carousel .carousel-inner .carousel-item div {
  width: 100%;
}
.sectionServiciosTerminados2 .carousel .carousel-inner .carousel-item div img {
  width: 100%;
  height: auto;
}

/* SERVICIOS OFRECIDOS */
.sectionServiciosOfrecidos div {
  padding: 2rem 0;
  background-color: #1100CC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionServiciosOfrecidos div p {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #FFDD33;
  padding: 0.3rem 1rem;
}
.sectionServiciosOfrecidos div a {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #FFDA1F;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.sectionServiciosOfrecidos div a:hover {
  color: #EBEBEB;
}
.sectionServiciosOfrecidos .verMas {
  display: none;
}

/* ANTIGUEDAD */
.sectionAntiguedad div {
  background-color: #05003D;
  padding: 1.5rem;
}
.sectionAntiguedad div p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #EBEBEB;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

/* MARCAS */
.sectionMarcas {
  background-color: #FFDA1F;
}
.sectionMarcas div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}
.sectionMarcas div img {
  width: 40%;
  height: auto;
  padding: 1rem;
}

/* PRODUCTOS VARIOS */
.sectionProductosVarios {
  background-color: #FFDA1F;
  width: 100%;
  padding-bottom: 1.5rem;
}
.sectionProductosVarios .marquee {
  width: 100%;
  height: 3rem;
  overflow: hidden;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: #080066;
}
.sectionProductosVarios .marquee .marqueeContenido {
  margin: 0px;
  padding: 0px;
  position: absolute;
  overflow: hidden;
  display: flex;
  list-style: none;
  animation: scrolling 40s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sectionProductosVarios .marquee .marqueeContenido .marqueeItem {
  flex-shrink: 0;
  color: #FFDD33;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0.75rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* UBICACION */
.sectionUbicacion div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFDA1F;
}
.sectionUbicacion div a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #05003D;
  padding: 0 0 0.5rem 0;
}
.sectionUbicacion div a:hover {
  color: #1100CC;
}
.sectionUbicacion div a img {
  padding-top: 0.5rem;
  width: 100%;
  height: auto;
}

/* FOOTER UBICACION DESKTOP */
.footerUbicacionDesktop {
  display: none;
}

/* FOOTER UBICACION */
.footerUbicacion {
  background-color: #FFDA1F;
}
.footerUbicacion div {
  background-color: #0E00A3;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerUbicacion div a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFDD33;
  font-size: 1rem;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footerUbicacion div a:hover {
  color: #EBEBEB;
}
.footerUbicacion div a i {
  padding: 0.35rem;
}

/* FOOTER */
.footer {
  background-color: #FFDA1F;
  padding: 1.5rem 0;
}
.footer .divHorarios {
  background-color: #0E00A3;
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .divHorarios i {
  color: #FFDD33;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.2rem;
}
.footer .divHorarios p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFDD33;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.footer .divTelefonos {
  background-color: #0E00A3;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .divTelefonos i {
  color: #FFDD33;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.2rem;
}
.footer .divTelefonos a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFDD33;
  font-size: 1rem;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.footer .divTelefonos a:hover {
  color: #EBEBEB;
}
.footer .divRedes {
  background-color: #0E00A3;
  padding: 1.5rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .divRedes i {
  color: #FFDD33;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.2rem;
}
.footer .divRedes a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFDD33;
  font-size: 1rem;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.footer .divRedes a:hover {
  color: #EBEBEB;
}
.footer .divLogo {
  background-color: #FFDA1F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .divLogo img {
  width: 10rem;
  height: auto;
}

/***** PAGINAS PRODUCTOS *****/
/* MAIN */
.mainMobilePags .mainSubtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainMobilePags .mainSubtitulo h3 {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  color: #1100CC;
  margin: 0;
}
.mainMobilePags .mainProductos h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  font-size: 1.5rem;
  color: #080066;
  font-weight: 800;
  background-color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  margin: 0;
}

/* CATEGORIAS LISTA */
.sectionCategoriasLista {
  padding-bottom: 1.5rem;
}
.sectionCategoriasLista div ul {
  padding: 1rem 3.5rem;
  margin: 0;
}
.sectionCategoriasLista div ul li {
  padding: 0.25rem 0;
  text-align: center;
  list-style-type: none;
  border-top: none;
  border-bottom: 1px solid #080066;
  border-left: none;
  border-right: none;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  font-size: 1rem;
  color: #1100CC;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
.sectionCategoriasLista div ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  font-size: 1rem;
  color: #1100CC;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}
.sectionCategoriasLista div ul .li1 {
  border-top: 1px solid #080066;
}

/* CATEGORIAS */
.sectionCategorias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0.5rem;
}
.sectionCategorias div {
  margin: 0px;
  padding: 0px;
  padding-bottom: 1.5rem;
  width: 100%;
  text-align: center;
}
.sectionCategorias div h4 {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #1100CC;
  font-size: 1.4rem;
  margin: 0;
  padding: 0 0 0.5rem 0;
}
.sectionCategorias div .categoriaItem {
  margin: 0;
  padding: 0.25rem 0;
}
.sectionCategorias div .categoriaItem p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #0E00A3;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #080066;
}
.sectionCategorias div .categoriaItem .p1 {
  border-top: 1px solid #080066;
}

/* BUSCADOR */
.sectionBuscadorMobilePaginas form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
}
.sectionBuscadorMobilePaginas form input {
  text-align: center;
  font-size: 0.8rem;
}
.sectionBuscadorMobilePaginas form button {
  font-size: 0.9rem;
  font-size: 0.8rem;
}

/* REPUESTOS */
.sectionRepuestos div {
  background-color: #05003D;
  padding: 1.5rem;
}
.sectionRepuestos div p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #EBEBEB;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

/***** PRESUPUESTO *****/
/* FORMULARIO */
.sectionFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDA1F;
  width: 100%;
}
.sectionFormulario .divFormulario {
  width: 100%;
}
.sectionFormulario .divFormulario form {
  width: 100%;
  padding: 1rem 0 2rem 0;
}
.sectionFormulario .divFormulario form div {
  width: 100%;
}
.sectionFormulario .divFormulario form div div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.sectionFormulario .divFormulario form div div input {
  text-align: center;
  color: #1100CC;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #1100CC;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #FFDA1F;
  width: 70%;
}
.sectionFormulario .divFormulario form div div textarea {
  text-align: center;
  color: #1100CC;
  border: 1px solid #1100CC;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #FFDA1F;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 70%;
}
.sectionFormulario .divFormulario form div .form__boton {
  text-align: center;
  color: #1100CC;
  border: 1px solid #1100CC;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #FFDA1F;
  display: block;
  margin: auto;
  padding: 0 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.sectionFormulario .divFormulario form div .form__boton:hover {
  background-color: #080066;
  color: #FFDD33;
}

/***** SERVICIOS *****/
.sectionServiciosDescripcion {
  background-color: #05003D;
  padding: 2rem 3.5rem;
}
.sectionServiciosDescripcion .divServiciosDescripcion p {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #EBEBEB;
  text-align: center;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}
.sectionServiciosDescripcion .divServiciosDescripcion ul {
  padding: 1rem 2rem 0 2rem;
  margin: 0;
}
.sectionServiciosDescripcion .divServiciosDescripcion ul li {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #FFDA1F;
  padding: 0.5rem 0;
  list-style-type: circle;
}

/****** COLCHONES *****/
.sectionColchones div {
  background-color: #FFDA1F;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionColchones div h3 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-weight: 800;
  color: #080066;
  padding-bottom: 1rem;
}
.sectionColchones div p {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #080066;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.sectionColchones div ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  padding-bottom: 0.5rem;
}
.sectionColchones div ul li {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #0E00A3;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
}
.sectionColchones div a {
  border: 1px solid #05003D;
  border-radius: 10rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #EBEBEB;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #05003D;
}
.sectionColchones div a:hover {
  color: #05003D;
  background-color: #EBEBEB;
}

.sectionColchonesTodoTipo {
  padding-bottom: 1.5rem;
  background-color: #FFDA1F;
}
.sectionColchonesTodoTipo div {
  background-color: #05003D;
  padding: 1.5rem;
}
.sectionColchonesTodoTipo div p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #EBEBEB;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

/***** QUIENES SOMOS *****/
.sectionQuienes div {
  background-color: #FFDA1F;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionQuienes div p {
  font-family: "Montserrat";
  font-weight: 400;
  color: #1100CC;
  color: #080066;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.sectionQuienes div a {
  border: 1px solid #05003D;
  border-radius: 10rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #080066;
  color: #EBEBEB;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  background-color: #05003D;
}
.sectionQuienes div a:hover {
  color: #05003D;
  background-color: #EBEBEB;
}

/* tablet */
@media (min-width: 600px) {
  /***** INDEX *****/
  /* NAVBAR */
  #menu .container-fluid .navbarMobile {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo menu";
    padding: 0;
  }
  #menu .container-fluid .navbarMobile .navbar-toggler {
    width: 40%;
    height: auto;
  }
  #menu .container-fluid .navbarMobile a {
    grid-area: logo;
    text-align: center;
  }
  #menu .container-fluid .navbarMobile a img {
    width: 300px;
    height: 80px;
  }
  #menu .container-fluid .navbar-collapse {
    text-align: center;
    /* BUSCADOR */
  }
  #menu .container-fluid .navbar-collapse .nav-item .dropdown-menu {
    text-align: center;
  }
  #menu .container-fluid .navbar-collapse .sectionBuscadorMobile form {
    padding: 1rem 0 1.5rem 0;
  }
  #menu .container-fluid .navbar-collapse .sectionBuscadorMobile form input {
    width: 50%;
  }
  /* MAIN */
  .mainMobile .mainSubtitulo h3 {
    font-size: 1.3rem;
  }
  .mainMobile .mainProductos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-bottom: 4rem;
  }
  .mainMobile .mainProductos a {
    width: 48%;
    border: 1px solid #FFDA1F;
    border: none;
  }
  .mainMobile .mainProductos a h2 {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* SERENA TUS SUEÑOS */
  .sectionSerena h5 {
    font-size: 2rem;
  }
  .sectionSerena div h3 {
    font-size: 1.5rem;
  }
  .sectionSerena div .efectoCard {
    top: 40.5%;
  }
  /* SERVICIOS OFRECIDOS */
  .sectionServiciosOfrecidos div p {
    font-size: 1.5rem;
  }
  /* ANTIGUEDAD */
  .sectionAntiguedad div {
    padding: 3rem;
  }
  /* MARCAS */
  .sectionMarcas div {
    flex-wrap: nowrap;
    padding: 3rem 0;
  }
  .sectionMarcas div img {
    padding: 0.5rem;
    width: 20%;
    height: auto;
  }
  /* PRODUCTOS VARIOS */
  .sectionProductosVarios .carousel .carousel-inner .carousel-item a {
    font-size: 1.2rem;
  }
  /***** PAGINAS *****/
  /* CATEGORIAS */
  .sectionCategorias div .categoriaItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sectionCategorias div .categoriaItem img {
    width: 45%;
    height: auto;
    border-top: 1px solid #080066;
  }
  .sectionCategorias div .categoriaItem p {
    width: 45%;
    text-align: center;
  }
  /* BUSCADOR PAGS */
  .sectionBuscadorMobilePaginas form {
    padding: 2.5rem 1.5rem;
    background-color: #080066;
  }
  /* SERVICIOS DESCRIPCION */
  .sectionServiciosDescripcion .divServiciosDescripcion ul {
    text-align: center;
  }
  .sectionServiciosDescripcion .divServiciosDescripcion ul li {
    list-style-type: none;
  }
  /* PRESUPUESTO */
  .sectionFormulario {
    width: 100%;
  }
  .sectionFormulario .divFormulario {
    width: 100%;
  }
  .sectionFormulario .divFormulario form {
    width: 100%;
  }
  .sectionFormulario .divFormulario form div {
    width: 100%;
  }
}
/* desktop */
@media (min-width: 991px) {
  /***** INDEX *****/
  /* NAVBAR */
  #menu {
    padding-bottom: 1rem;
  }
  #menu .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #menu .container-fluid .navbarMobile {
    display: unset;
    text-align: center;
    padding: 1rem 0;
  }
  #menu .container-fluid .navbar-collapse {
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  #menu .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    background: none;
    background-color: #FFFFFF;
    padding: 1rem;
  }
  #menu .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li {
    border-bottom: 1px solid #080066;
  }
  #menu .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .li1 {
    border-top: 1px solid #080066;
  }
  #menu .container-fluid .navbar-collapse .navbar-nav .nav-item a {
    padding: 0 2rem;
  }
  #menu .container-fluid .navbar-collapse .sectionBuscadorMobile form input {
    width: 20rem;
  }
  /* MAIN */
  .mainMobile .mainSubtitulo h3 {
    font-size: 1.5rem;
  }
  .mainMobile .mainProductos a {
    width: 33%;
  }
  .mainMobile .mainProductos a div {
    height: 22rem;
  }
  /* SERENA SUEÑOS */
  .sectionSerena {
    display: none;
  }
  .sectionSerenaDesktop {
    display: block;
  }
  .sectionSerenaDesktop .divSerena {
    height: 15rem;
    border-top: 1px solid #080066;
    background-color: #1100CC;
  }
  .sectionSerenaDesktop .divSerena h5 {
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-family: "Courgette", cursive;
    font-weight: 400;
    color: #EBEBEB;
    padding: 4rem 0 2rem 0;
    margin: 0;
  }
  .sectionSerenaDesktop .divSerena h3 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #080066;
    color: #EBEBEB;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
  }
  .sectionSerenaDesktop a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding: 0.8rem;
    border: 1px solid #080066;
    background-color: #080066;
    font-size: 1.3rem;
    color: #EBEBEB;
    text-decoration: none;
    width: 100%;
  }
  .sectionSerenaDesktop a:hover {
    background-color: #05003D;
    color: #FFDA1F;
    border: 1px solid #080066;
  }
  /* SOLUCIONES */
  .sectionSoluciones div {
    padding: 6rem;
  }
  /* SERVICIOS TERMINADOS */
  .sectionServiciosTerminados {
    display: none;
  }
  /* SERVICIOS OFRECIDOS */
  .sectionServiciosOfrecidos div p {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
  .sectionServiciosOfrecidos div a {
    padding: 1rem;
    font-size: 1.6rem;
  }
  .sectionServiciosOfrecidos .verMas {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #0E00A3;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #080066;
    color: #FFDA1F;
    text-decoration: none;
    letter-spacing: 0.1rem;
  }
  .sectionServiciosOfrecidos .verMas:hover {
    color: #EBEBEB;
  }
  /* ANTIGUEDAD */
  .sectionAntiguedad div {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* MARCAS */
  .sectionMarcas div {
    justify-content: space-evenly;
  }
  .sectionMarcas div img {
    padding: 1rem;
    width: 12%;
    height: auto;
  }
  /* SECTION PRODUCTOS VARIOS */
  .sectionProductosVarios {
    padding-bottom: 0;
  }
  /* UBICACION */
  .sectionUbicacion {
    display: none;
  }
  .footerUbicacionDesktop {
    display: block;
    background-color: #FFDA1F;
    padding-top: 3rem;
  }
  .footerUbicacionDesktop div {
    background-color: #0E00A3;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footerUbicacionDesktop div a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #FFDD33;
    font-size: 1rem;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footerUbicacionDesktop div a:hover {
    color: #EBEBEB;
  }
  .footerUbicacionDesktop div a i {
    padding: 0.35rem;
  }
  /***** PAGINAS PRODUCTOS *****/
  /* MAIN */
  .mainMobilePags .mainSubtitulo h3 {
    font-size: 1.2rem;
  }
  /***** SERVICIOS *****/
  .sectionServiciosDescripcion {
    padding: 3rem 0;
  }
  .sectionServiciosDescripcion .divServiciosDescripcion p {
    font-size: 1.2rem;
  }
  .sectionServiciosDescripcion ul li {
    font-size: 1.1rem;
  }
  .sectionServiciosTerminados2 {
    background-color: #FFDA1F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionServiciosTerminados2 .carousel .carousel-inner .carousel-item div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionServiciosTerminados2 .carousel .carousel-inner .carousel-item div img {
    width: 50%;
    height: auto;
  }
  .sectionSoluciones2 div {
    height: 10rem;
  }
  /* COLCHONES */
  .sectionColchones div h3 {
    font-size: 1.7rem;
  }
  .sectionColchones div p {
    font-size: 1.3rem;
  }
  .sectionColchones div ul li {
    font-size: 1.2rem;
  }
  /***** QUIENES SOMOS ******/
  .sectionQuienes div {
    padding: 3rem 5rem;
  }
}
/* generales */
* {
  box-sizing: border-box;
}/*# sourceMappingURL=estilo.css.map */