/* colores */

$amarillo: #FFDA1F;
$amarillito: #FFDD33;
$pastel: #FFEE99;

$azulito: #1100CC;
$azulado: #0E00A3;
$azul: #080066;
$azulote: #05003D;

$blancazo: #FFFFFF;
$blanco: #EBEBEB;
$blanquito: #E0E0E0;

$negro: #000000;
$negrito: #020202;
